entrypoint = "index.html"
hidden = [".config"]
modules = ["bun-1.1", "nodejs-20"]

[nix]
channel = "stable-24_05"

[deployment]
run = ["sh", "-c", "bun --serve --port=3000 --hostname=0.0.0.0 ./"]

[[ports]]
localPort = 3000
externalPort = 80